In [4]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: ipython-genutils in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable
  Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Requirement already satisfied: six in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
     |████████████████████████████████| 44 kB 4.6 MB/s eta 0:00:01
Requirement already satisfied: ipython in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython-sql) (8.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython-sql) (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Requirement already satisfied: appnope in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.3)
Requirement already satisfied: pexpect>4.3 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: matplotlib-inline in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (2.13.0)
Requirement already satisfied: stack-data in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (0.6.1)
Requirement already satisfied: backcall in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (5.5.0)
Requirement already satisfied: decorator in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (0.18.2)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from ipython->ipython-sql) (3.0.33)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: asttokens>=2.1.0 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: pure-eval in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: executing>=1.2.0 in /Users/dungnguyen/.pyenv/versions/3.10.2/lib/python3.10/site-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.10.2 sqlparse-0.5.1
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/Users/dungnguyen/.pyenv/versions/3.10.2/bin/python3.10 -m pip install --upgrade pip' command.

In [1]:
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from models import Base, Dataset, AssetClass, Region, User

# Create the database
engine = create_engine('sqlite:///test_database.db')
Base.metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Create sample data
commodities = AssetClass(name="Commodities")
equities = AssetClass(name="Equities")
real_estate = AssetClass(name="Real Estate")

north_america = Region(name="North America")
us = Region(name="US", parent=north_america)
canada = Region(name="Canada", parent=north_america)
europe = Region(name="Europe")

user1 = User(username="user1")
user2 = User(username="user2")

datasets = [
    Dataset(name="US Commodities", description="Commodity prices in the US", 
            asset_classes=[commodities], regions=[us], maintainers=[user1]),
    Dataset(name="Global Equities", description="World-wide stock prices", 
            asset_classes=[equities], regions=[north_america, europe], maintainers=[user2]),
    Dataset(name="NA Real Estate", description="Real estate data for North America", 
            asset_classes=[real_estate], regions=[us, canada], maintainers=[user1]),
    Dataset(name="Mixed Assets", description="Various asset types", 
            asset_classes=[commodities, equities], regions=[north_america], maintainers=[user1, user2])
]

# Add all objects to the session
session.add_all([commodities, equities, real_estate, north_america, us, canada, europe, user1, user2] + datasets)

# Commit the changes
session.commit()

print("Database created and populated successfully.")

# Close the session
session.close()

Database created and populated successfully.

In [8]:
%load_ext sql
%sql sqlite:///test_database.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [16]:
%%sql
EXPLAIN QUERY PLAN 
SELECT
    datasets.id AS datasets_id,
    datasets.name AS datasets_name,
    datasets.description AS datasets_description
FROM
    datasets
WHERE
    datasets.id IN (
        SELECT
            datasets.id
        FROM
            datasets
            JOIN dataset_region AS dataset_region_1 ON datasets.id = dataset_region_1.dataset_id
            JOIN regions ON regions.id = dataset_region_1.region_id
        WHERE
            regions.name = "North America"
    )
    AND (
        datasets.id NOT IN (
            SELECT
                datasets.id
            FROM
                datasets
                JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets.id = dataset_asset_class_1.dataset_id
                JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id
            WHERE
                asset_classes.name = "Real Estate"
        )
    )
    AND (
        datasets.id IN (
            SELECT
                datasets.id
            FROM
                datasets
                JOIN dataset_maintainer AS dataset_maintainer_1 ON datasets.id = dataset_maintainer_1.dataset_id
                JOIN users ON users.id = dataset_maintainer_1.user_id
            WHERE
                users.username = "user1"
        )
        OR datasets.id IN (
            SELECT
                datasets.id
            FROM
                datasets
                JOIN dataset_maintainer AS dataset_maintainer_2 ON datasets.id = dataset_maintainer_2.dataset_id
                JOIN users ON users.id = dataset_maintainer_2.user_id
            WHERE
                users.username = "user2"
        )
    );

   sqlite:///mytable.db
 * sqlite:///test_database.db
Done.

[(2, 0, 0, 'SEARCH datasets USING INTEGER PRIMARY KEY (rowid=?)'),
 (6, 0, 0, 'LIST SUBQUERY 1'),
 (10, 6, 0, 'SCAN dataset_region_1'),
 (12, 6, 0, 'SEARCH datasets USING INTEGER PRIMARY KEY (rowid=?)'),
 (15, 6, 0, 'SEARCH regions USING INTEGER PRIMARY KEY (rowid=?)'),
 (33, 0, 0, 'LIST SUBQUERY 2'),
 (37, 33, 0, 'SCAN dataset_asset_class_1'),
 (39, 33, 0, 'SEARCH datasets USING INTEGER PRIMARY KEY (rowid=?)'),
 (42, 33, 0, 'SEARCH asset_classes USING INTEGER PRIMARY KEY (rowid=?)'),
 (64, 0, 0, 'LIST SUBQUERY 3'),
 (68, 64, 0, 'SEARCH users USING COVERING INDEX sqlite_autoindex_users_1 (username=?)'),
 (72, 64, 0, 'SCAN dataset_maintainer_1'),
 (77, 64, 0, 'SEARCH datasets USING INTEGER PRIMARY KEY (rowid=?)'),
 (93, 0, 0, 'LIST SUBQUERY 4'),
 (97, 93, 0, 'SEARCH users USING COVERING INDEX sqlite_autoindex_users_1 (username=?)'),
 (101, 93, 0, 'SCAN dataset_maintainer_2'),
 (106, 93, 0, 'SEARCH datasets USING INTEGER PRIMARY KEY (rowid=?)')]

In [53]:
%%sql
EXPLAIN QUERY PLAN 
SELECT
    datasets.id AS datasets_id,
    datasets.name AS datasets_name,
    datasets.description AS datasets_description
FROM
    datasets
WHERE
    datasets.id IN (
        SELECT
            DISTINCT datasets.id
        FROM
            datasets
            JOIN dataset_region AS dataset_region_1 ON datasets.id = dataset_region_1.dataset_id
            JOIN regions ON regions.id = dataset_region_1.region_id
        WHERE
            regions.name = "North America"
    )
    AND (
        datasets.id NOT IN (
            SELECT
                DISTINCT datasets.id
            FROM
                datasets
                JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets.id = dataset_asset_class_1.dataset_id
                JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id
            WHERE
                asset_classes.name = "Real Estate"
        )
    )
    AND (
        datasets.id IN (
            SELECT
                DISTINCT datasets.id
            FROM
                datasets
                JOIN dataset_maintainer AS dataset_maintainer_1 ON datasets.id = dataset_maintainer_1.dataset_id
                JOIN users ON users.id = dataset_maintainer_1.user_id
            WHERE
                users.username = "user1"
        )
        OR datasets.id IN (
            SELECT
                DISTINCT datasets.id
            FROM
                datasets
                JOIN dataset_maintainer AS dataset_maintainer_2 ON datasets.id = dataset_maintainer_2.dataset_id
                JOIN users ON users.id = dataset_maintainer_2.user_id
            WHERE
                users.username = "user2"
        )
    );

   sqlite:///mytable.db
 * sqlite:///test_database.db
Done.

[(2, 'Global Equities', 'World-wide stock prices'),
 (4, 'Mixed Assets', 'Various asset types')]

In [26]:
%%sql
SELECT datasets.id AS datasets_id, datasets.name AS datasets_name, datasets.description AS datasets_description 
FROM datasets 
WHERE NOT EXISTS (SELECT 1 
FROM datasets d1 JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets.id = dataset_asset_class_1.dataset_id JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id 
WHERE asset_classes.name = "Commodities" AND datasets.id = d1.id)

   sqlite:///mytable.db
 * sqlite:///test_database.db
Done.

[(2, 'Global Equities', 'World-wide stock prices'),
 (3, 'NA Real Estate', 'Real estate data for North America')]

In [49]:
%%sql

SELECT datasets.id AS datasets_id, datasets.name AS datasets_name, datasets.description AS datasets_description 
FROM datasets
WHERE NOT (EXISTS (SELECT 1 
FROM dataset_asset_class AS dataset_asset_class_1 JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id 
WHERE asset_classes.name = "Commodities" AND datasets.id = dataset_asset_class_1.dataset_id))

   sqlite:///mytable.db
 * sqlite:///test_database.db
Done.

[(2, 'Global Equities', 'World-wide stock prices'),
 (3, 'NA Real Estate', 'Real estate data for North America')]

In [51]:
%%sql
 SELECT datasets.id AS datasets_id, datasets.name AS datasets_name, datasets.description AS datasets_description 
FROM datasets 
WHERE NOT (EXISTS (SELECT 1 
FROM datasets JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets.id = dataset_asset_class_1.dataset_id JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id, dataset_asset_class 
WHERE asset_classes.name = "Commodities" AND datasets.id = dataset_asset_class.dataset_id))

   sqlite:///mytable.db
 * sqlite:///test_database.db
Done.

[]

In [36]:
%%sql
SELECT EXISTS (SELECT 1 
FROM datasets d1 JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets.id = dataset_asset_class_1.dataset_id JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id 
WHERE asset_classes.name = "Commodities")

   sqlite:///mytable.db
 * sqlite:///test_database.db
(sqlite3.OperationalError) no such column: datasets.id
[SQL: SELECT EXISTS (SELECT 1
FROM datasets d1 JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets.id = dataset_asset_class_1.dataset_id JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id
WHERE asset_classes.name = "Commodities")]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [54]:
%%sql
EXPLAIN QUERY PLAN 
 SELECT datasets.id AS datasets_id, datasets.name AS datasets_name, datasets.description AS datasets_description 
FROM datasets 
WHERE (EXISTS (SELECT 1 
FROM datasets AS datasets_1 JOIN dataset_region AS dataset_region_1 ON datasets_1.id = dataset_region_1.dataset_id JOIN regions ON regions.id = dataset_region_1.region_id 
WHERE regions.name = "North America" AND datasets.id = datasets_1.id)) AND NOT (EXISTS (SELECT 1 
FROM datasets AS datasets_2 JOIN dataset_asset_class AS dataset_asset_class_1 ON datasets_2.id = dataset_asset_class_1.dataset_id JOIN asset_classes ON asset_classes.id = dataset_asset_class_1.asset_class_id 
WHERE asset_classes.name = "Real Estate" AND datasets.id = datasets_2.id)) AND ((EXISTS (SELECT 1 
FROM datasets AS datasets_3 JOIN dataset_maintainer AS dataset_maintainer_1 ON datasets_3.id = dataset_maintainer_1.dataset_id JOIN users ON users.id = dataset_maintainer_1.user_id 
WHERE users.username = "user1" AND datasets.id = datasets_3.id)) OR (EXISTS (SELECT 1 
FROM datasets AS datasets_4 JOIN dataset_maintainer AS dataset_maintainer_2 ON datasets_4.id = dataset_maintainer_2.dataset_id JOIN users ON users.id = dataset_maintainer_2.user_id 
WHERE users.username = "user2" AND datasets.id = datasets_4.id)))

   sqlite:///mytable.db
 * sqlite:///test_database.db
Done.

[(2, 0, 0, 'SCAN datasets'),
 (5, 0, 0, 'CORRELATED SCALAR SUBQUERY 1'),
 (11, 5, 0, 'SEARCH datasets_1 USING INTEGER PRIMARY KEY (rowid=?)'),
 (14, 5, 0, 'SCAN regions'),
 (20, 5, 0, 'BLOOM FILTER ON dataset_region_1 (region_id=? AND dataset_id=?)'),
 (30, 5, 0, 'SEARCH dataset_region_1 USING AUTOMATIC COVERING INDEX (region_id=? AND dataset_id=?)'),
 (43, 0, 0, 'CORRELATED SCALAR SUBQUERY 2'),
 (49, 43, 0, 'SEARCH datasets_2 USING INTEGER PRIMARY KEY (rowid=?)'),
 (52, 43, 0, 'SCAN asset_classes'),
 (58, 43, 0, 'BLOOM FILTER ON dataset_asset_class_1 (asset_class_id=? AND dataset_id=?)'),
 (68, 43, 0, 'SEARCH dataset_asset_class_1 USING AUTOMATIC COVERING INDEX (asset_class_id=? AND dataset_id=?)'),
 (81, 0, 0, 'CORRELATED SCALAR SUBQUERY 3'),
 (87, 81, 0, 'SEARCH datasets_3 USING INTEGER PRIMARY KEY (rowid=?)'),
 (90, 81, 0, 'SEARCH users USING COVERING INDEX sqlite_autoindex_users_1 (username=?)'),
 (94, 81, 0, 'SCAN dataset_maintainer_1'),
 (108, 0, 0, 'CORRELATED SCALAR SUBQUERY 4'),
 (114, 108, 0, 'SEARCH datasets_4 USING INTEGER PRIMARY KEY (rowid=?)'),
 (117, 108, 0, 'SEARCH users USING COVERING INDEX sqlite_autoindex_users_1 (username=?)'),
 (121, 108, 0, 'SCAN dataset_maintainer_2')]